Source: ros-kinetic-kobuki-desktop
Section: misc
Priority: extra
Maintainer: Marcus Liebhardt <marcus.liebhardt@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/kobuki_desktop
Standards-Version: 3.9.2

Package: ros-kinetic-kobuki-desktop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-kobuki-dashboard, ros-kinetic-kobuki-gazebo, ros-kinetic-kobuki-gazebo-plugins, ros-kinetic-kobuki-qtestsuite, ros-kinetic-kobuki-rviz-launchers
Description: Visualisation and simulation tools for Kobuki
